<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_luobo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,110},{73,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,105}}</string>
                <key>sourceSize</key>
                <string>{73,107}</string>
            </dict>
            <key>ui_luobo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{77,107}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,107}}</string>
                <key>sourceSize</key>
                <string>{81,109}</string>
            </dict>
            <key>ui_luobo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>ui_luobo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{76,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{76,106}}</string>
                <key>sourceSize</key>
                <string>{76,114}</string>
            </dict>
            <key>ui_luobo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,70},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>ui_luobo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{79,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{79,66}}</string>
                <key>sourceSize</key>
                <string>{83,70}</string>
            </dict>
            <key>ui_luobo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,142},{73,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,45}}</string>
                <key>sourceSize</key>
                <string>{73,47}</string>
            </dict>
            <key>ui_luobo_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{57,18}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{57,18}}</string>
                <key>sourceSize</key>
                <string>{73,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_luobo.png</string>
            <key>size</key>
            <string>{237,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed529786fa75f6789ea76698a75d4f54$</string>
            <key>textureFileName</key>
            <string>ui_luobo.png</string>
        </dict>
    </dict>
</plist>
