<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_L_Monsters_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,246},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>ui_L_Monsters_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,343},{70,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{70,45}</string>
            </dict>
            <key>ui_L_Monsters_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,60},{96,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>ui_L_Monsters_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,175},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,55}}</string>
                <key>sourceSize</key>
                <string>{98,57}</string>
            </dict>
            <key>ui_L_Monsters_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,175},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,69}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>ui_L_Monsters_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,342},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ui_L_Monsters_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{192,140}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{192,140}}</string>
                <key>sourceSize</key>
                <string>{196,142}</string>
            </dict>
            <key>ui_L_Monsters_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{187,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{187,144}}</string>
                <key>sourceSize</key>
                <string>{189,146}</string>
            </dict>
            <key>ui_R_Monsters_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,144},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{58,53}</string>
            </dict>
            <key>ui_R_Monsters_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,271},{70,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{70,45}</string>
            </dict>
            <key>ui_R_Monsters_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{96,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>ui_R_Monsters_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,118},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,55}}</string>
                <key>sourceSize</key>
                <string>{98,57}</string>
            </dict>
            <key>ui_R_Monsters_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,271},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{54,69}}</string>
                <key>sourceSize</key>
                <string>{60,73}</string>
            </dict>
            <key>ui_R_Monsters_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,415},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{70,66}</string>
            </dict>
            <key>ui_R_Monsters_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,140}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{192,140}}</string>
                <key>sourceSize</key>
                <string>{196,142}</string>
            </dict>
            <key>ui_R_Monsters_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{187,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{187,144}}</string>
                <key>sourceSize</key>
                <string>{189,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_Monster.png</string>
            <key>size</key>
            <string>{488,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:185b1a411e4bb962565964ab0cbc201e$</string>
            <key>textureFileName</key>
            <string>ui_Monster.png</string>
        </dict>
    </dict>
</plist>
