<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_Battery_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,347},{26,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,59}}</string>
                <key>sourceSize</key>
                <string>{28,59}</string>
            </dict>
            <key>ui_Battery_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,550},{60,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>ui_Battery_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,375},{27,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,62}}</string>
                <key>sourceSize</key>
                <string>{29,66}</string>
            </dict>
            <key>ui_Battery_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,407},{40,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,68}</string>
            </dict>
            <key>ui_Battery_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1384},{44,68}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>ui_Battery_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,232},{46,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,70}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>ui_Battery_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1469},{49,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>ui_Battery_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,410},{76,77}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,77}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ui_Battery_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,569},{76,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{76,77}}</string>
                <key>sourceSize</key>
                <string>{76,79}</string>
            </dict>
            <key>ui_Battery_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2028},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>ui_Battery_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,280},{21,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,22}}</string>
                <key>sourceSize</key>
                <string>{21,22}</string>
            </dict>
            <key>ui_Battery_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,794},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>ui_Battery_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,783},{32,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,35}}</string>
                <key>sourceSize</key>
                <string>{32,35}</string>
            </dict>
            <key>ui_Battery_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,212},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>ui_Battery_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,249},{79,78}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{79,78}}</string>
                <key>sourceSize</key>
                <string>{81,82}</string>
            </dict>
            <key>ui_Battery_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,490},{76,77}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{76,77}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>ui_Battery_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{76,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{76,79}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>ui_Battery_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,375},{30,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,64}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>ui_Battery_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2012},{30,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,87}}</string>
                <key>sourceSize</key>
                <string>{32,87}</string>
            </dict>
            <key>ui_Battery_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1545},{45,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>ui_Battery_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1911},{39,85}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,85}}</string>
                <key>sourceSize</key>
                <string>{41,87}</string>
            </dict>
            <key>ui_Battery_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,232},{48,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>ui_Battery_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1911},{47,99}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,99}}</string>
                <key>sourceSize</key>
                <string>{49,99}</string>
            </dict>
            <key>ui_Battery_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,758},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>ui_Battery_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,303},{40,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,35}}</string>
                <key>sourceSize</key>
                <string>{40,35}</string>
            </dict>
            <key>ui_Battery_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,693},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>ui_Battery_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1298},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>ui_Battery_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1911},{120,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,115}}</string>
                <key>sourceSize</key>
                <string>{120,115}</string>
            </dict>
            <key>ui_Battery_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1114},{176,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,175}}</string>
                <key>sourceSize</key>
                <string>{176,175}</string>
            </dict>
            <key>ui_Battery_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1687},{216,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,222}}</string>
                <key>sourceSize</key>
                <string>{216,222}</string>
            </dict>
            <key>ui_Battery_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,410},{76,78}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,78}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>ui_Battery_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,167},{76,79}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,79}}</string>
                <key>sourceSize</key>
                <string>{78,81}</string>
            </dict>
            <key>ui_Battery_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,383},{23,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{23,60}}</string>
                <key>sourceSize</key>
                <string>{27,66}</string>
            </dict>
            <key>ui_Battery_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,404},{28,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,55}}</string>
                <key>sourceSize</key>
                <string>{32,57}</string>
            </dict>
            <key>ui_Battery_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,449},{35,63}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{35,63}}</string>
                <key>sourceSize</key>
                <string>{39,65}</string>
            </dict>
            <key>ui_Battery_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,304},{41,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{41,63}}</string>
                <key>sourceSize</key>
                <string>{43,65}</string>
            </dict>
            <key>ui_Battery_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1636},{45,74}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{49,76}</string>
            </dict>
            <key>ui_Battery_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1976},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,69}}</string>
                <key>sourceSize</key>
                <string>{59,71}</string>
            </dict>
            <key>ui_Battery_03_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2038},{8,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,57}}</string>
                <key>sourceSize</key>
                <string>{8,57}</string>
            </dict>
            <key>ui_Battery_03_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,282},{20,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,64}}</string>
                <key>sourceSize</key>
                <string>{20,64}</string>
            </dict>
            <key>ui_Battery_03_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,282},{19,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,66}}</string>
                <key>sourceSize</key>
                <string>{19,66}</string>
            </dict>
            <key>ui_Battery_03_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2009},{27,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,74}}</string>
                <key>sourceSize</key>
                <string>{27,74}</string>
            </dict>
            <key>ui_Battery_03_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1976},{31,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{31,77}}</string>
                <key>sourceSize</key>
                <string>{31,81}</string>
            </dict>
            <key>ui_Battery_03_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,404},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>ui_Battery_03_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,140},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_Battery_03_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,488},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,60}</string>
            </dict>
            <key>ui_Battery_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{68,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_Battery_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1217},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>ui_Battery_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,135},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{51,58}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>ui_Battery_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,74},{59,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{59,70}}</string>
                <key>sourceSize</key>
                <string>{63,74}</string>
            </dict>
            <key>ui_Battery_04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,245},{62,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{62,75}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>ui_Battery_04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>ui_Battery_04_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,790},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>ui_Battery_04_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,758},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,54}}</string>
                <key>sourceSize</key>
                <string>{50,54}</string>
            </dict>
            <key>ui_Battery_04_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,449},{35,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,61}}</string>
                <key>sourceSize</key>
                <string>{35,61}</string>
            </dict>
            <key>ui_Battery_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,693},{66,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ui_Battery_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1384},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>ui_Battery_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1469},{75,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,82}}</string>
                <key>sourceSize</key>
                <string>{77,82}</string>
            </dict>
            <key>ui_Battery_05_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,716},{60,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{60,65}}</string>
                <key>sourceSize</key>
                <string>{62,71}</string>
            </dict>
            <key>ui_Battery_05_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,550},{62,62}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{62,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ui_Battery_05_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,624},{67,67}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{71,67}</string>
            </dict>
            <key>ui_Battery_05_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,72},{66,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,74}</string>
            </dict>
            <key>ui_Battery_05_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,309},{72,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>ui_Battery_05_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,877},{235,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,225}}</string>
                <key>sourceSize</key>
                <string>{235,225}</string>
            </dict>
            <key>ui_Battery_05_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1687},{287,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,289}}</string>
                <key>sourceSize</key>
                <string>{287,289}</string>
            </dict>
            <key>ui_Battery_05_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1299},{386,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,379}}</string>
                <key>sourceSize</key>
                <string>{386,379}</string>
            </dict>
            <key>ui_Battery_05_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1297},{66,25}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,25}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>ui_Battery_06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,330},{77,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{77,78}</string>
            </dict>
            <key>ui_Battery_06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1553},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>ui_Battery_06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1217},{86,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,79}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>ui_Battery_06_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1976},{76,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,64}}</string>
                <key>sourceSize</key>
                <string>{78,64}</string>
            </dict>
            <key>ui_Battery_06_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1976},{76,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
            <key>ui_Battery_06_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,309},{74,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,64}}</string>
                <key>sourceSize</key>
                <string>{74,64}</string>
            </dict>
            <key>ui_Battery_06_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{15,873}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,873}}</string>
                <key>sourceSize</key>
                <string>{15,873}</string>
            </dict>
            <key>ui_Battery_06_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,1295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,1295}}</string>
                <key>sourceSize</key>
                <string>{64,1295}</string>
            </dict>
            <key>ui_Battery_06_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,1276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,1276}}</string>
                <key>sourceSize</key>
                <string>{62,1276}</string>
            </dict>
            <key>ui_Battery_06_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,272},{31,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,29}}</string>
                <key>sourceSize</key>
                <string>{31,29}</string>
            </dict>
            <key>ui_Battery_06_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1636},{45,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,51}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>ui_Battery_06_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,739},{55,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{55,49}}</string>
                <key>sourceSize</key>
                <string>{55,51}</string>
            </dict>
            <key>ui_Battery_06_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,347},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>ui_Battery_07_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,160},{70,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,73}}</string>
                <key>sourceSize</key>
                <string>{70,73}</string>
            </dict>
            <key>ui_Battery_07_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,167},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>ui_Battery_07_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,85},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>ui_Battery_07_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,65},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>ui_Battery_07_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,612},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>ui_Battery_07_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,676},{57,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,61}}</string>
                <key>sourceSize</key>
                <string>{57,61}</string>
            </dict>
            <key>ui_Battery_07_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,486},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>ui_Battery_07_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,647},{61,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,67}}</string>
                <key>sourceSize</key>
                <string>{61,67}</string>
            </dict>
            <key>ui_Battery_07_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,614},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>ui_Battery_07_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>ui_Battery_07_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,554},{68,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,67}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>ui_Battery_07_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,488},{69,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{69,64}}</string>
                <key>sourceSize</key>
                <string>{71,64}</string>
            </dict>
            <key>ui_Battery_07_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,303},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ui_Battery_07_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,783},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ui_Battery_07_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,758},{33,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>ui_Battery_07_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{61,47}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,49}</string>
            </dict>
            <key>ui_Battery_07_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,80},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ui_Battery_07_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1114},{101,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,108}}</string>
                <key>sourceSize</key>
                <string>{101,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_Battery.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102f2c6dc6f8c1269a4aa192329c907f$</string>
            <key>textureFileName</key>
            <string>ui_Battery.png</string>
        </dict>
    </dict>
</plist>
