<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_S_Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,638}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,638}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ui_SelBattery_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,2002},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>ui_SelBattery_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,101},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>ui_SelBattery_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,51},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,48}}</string>
                <key>sourceSize</key>
                <string>{47,48}</string>
            </dict>
            <key>ui_SelBattery_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>ui_SelBattery_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,198},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ui_SelBattery_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,246},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>ui_SelBattery_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,150},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>ui_map_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{490,347}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{490,347}}</string>
                <key>sourceSize</key>
                <string>{492,347}</string>
            </dict>
            <key>ui_map_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{490,347}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{490,347}}</string>
                <key>sourceSize</key>
                <string>{492,347}</string>
            </dict>
            <key>ui_map_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,982},{485,338}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{485,338}}</string>
                <key>sourceSize</key>
                <string>{489,338}</string>
            </dict>
            <key>ui_map_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,642},{485,338}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{485,338}}</string>
                <key>sourceSize</key>
                <string>{489,338}</string>
            </dict>
            <key>ui_map_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1662},{493,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,338}}</string>
                <key>sourceSize</key>
                <string>{493,338}</string>
            </dict>
            <key>ui_map_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1322},{493,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,338}}</string>
                <key>sourceSize</key>
                <string>{493,338}</string>
            </dict>
            <key>ui_map_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1687},{489,345}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{489,345}}</string>
                <key>sourceSize</key>
                <string>{493,345}</string>
            </dict>
            <key>ui_map_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{489,345}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{489,345}}</string>
                <key>sourceSize</key>
                <string>{493,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_Select.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2bcb0a84b26a153d674039d7ca3ec4b$</string>
            <key>textureFileName</key>
            <string>ui_Select.png</string>
        </dict>
    </dict>
</plist>
